# Ignore only data, models, and experiment outputs at project root
/data/
mlruns/

# Ignore DVC cache
.dvc/cache/

# Python cache/virtualenv
__pycache__/
*.pyc
*.pyo
.venv/
*.log

# Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Artifacts
*.png