version: "3.9"

services:
  api:
    image: ghcr.io/prasadbishnu09/cats-dogs:latest
    container_name: catsdogs-api
    ports:
      - "8000:8000"
    depends_on:
      - prometheus

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./docker/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"